<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/AddBook.css" />
</head>
<form action="/Book/AddBook" method="post">
    <ul>
        <li><p>Название книги:</p><input class="Data" type="text" name="Name" /></li>
        <li><p>Автор:</p><input class="Data" type="text" name="Author" /></li>
        <li><p>Кол-во страниц:</p><input class="Data" type="number" name="PageCount" /></li>
        <li>
            <p>Жанр книги:</p>
            <select class="Data" name="Genre">
                <option value="Романтика">Романтика</option>
                <option value="Фантастика">Фантастика</option>
                <option value="Научная">Научная</option>
            </select>
        </li>
        <li><p>Тип переплета:</p>
            <select class="Data" name="Type">
        <option value="Твердый переплет">Твердый переплет</option>
        <option value="Мягкий переплет">Мягкий переплет</option>
        </select>
        </li>
        <li><p>Стоимость:</p><input class="Data" type="number" name="Cost" /></li>
        <li><p>Краткое описание:</p> <textarea class="Data" id="BookDescription" name="Description"></textarea></li>
        <li><input id="BookAddButton" type="submit" value="Добавить" /></li>
    </ul>
</form>
