
@{
    ViewBag.Title = "BooksOfCurrentuser";
}

<h2>CarsOfCurrentuser</h2>
<table>
    <tr>
        <th>Название</th>
        <th>Автор</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Name</td>
            <td>@item.Author</td>
            <td>
                <form action="/Book/UpdateBook" method="get">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" value="Редактировать" />
                </form>
            </td>
            <td>
                <form action="/Book/DeleteBook" method="get">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" value="Удалить объявление" />
                </form>
            </td>
        </tr>

    }

</table>
